.screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    color: rgb(53, 105, 201);
    cursor: pointer;
}

.a {
    color: rgb(53, 105, 201);
    cursor: pointer;
}

.maincolor {
    background-color: rgb(255, 202, 68);
}